
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 23%, 41%);
  color: #f0ebef; /* Changing default text color */
  flex-wrap: wrap;
}

/* Header Styling */
header {
  background-color: #588080;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px; /* Adding margin bottom for separation */
}

header h1 {
  margin: 10px;
  font-size: 36px; /* Increasing font size for header */
}

header img {
  display: block;
  margin: 25px auto;
  width: 150px; /* Limiting max-width for avatar */
}

/* Navigation Styling */
nav {
  background-color: #588080;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 18px; /* Increasing font size for navigation */
}

nav a:hover {
  background-color: #46666a;
}

h2 {
  margin-top: 0;
  font-size: 30px; 
  padding: 15px;
  color: whitesmoke;

}

section {
  padding: 40px;
  margin: 30px 0;
  background-color: hsl(0, 23%, 41%);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#about {
  display: flex;
  align-items: center;
}

#about img {
  width: 200px;
  height: 200px;
  margin-left: 20px; /* Adjust the margin as needed */
}

#about h2 {
  margin-top: 0;
  font-size: 30px; 
  padding: 15px;
  color: whitesmoke;
}

#about p {
  padding: 10px;
}

p {
  line-height: 1.6; 
}

.work {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.work a {
  color:whitesmoke
}

.work img {
  width: 300px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#larger-img {
  width: 425px;
  height: auto;
}

.work img:hover {
  transform: scale(1.2);
}

.image-caption {
 justify-content: flex-start;
 padding-top: 5px;
}

#contact {
  text-align: center; 
}

#contact ul {
  list-style: none;
}

#contact ul li {
  display: inline;
}

#contact ul li a {
  color:#fff; 
  text-decoration: none;
}

#contact ul li a:hover {
  text-decoration: underline;
}
